{% extends "layout/main.twig" %}

{% block title %}Alterar Senha - PrintWise{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Menu do Usuário</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="/user/profile" class="list-group-item list-group-item-action">Meu Perfil</a>
                <a href="/order" class="list-group-item list-group-item-action">Meus Pedidos</a>
                <a href="/user/change-password" class="list-group-item list-group-item-action active">Alterar Senha</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Alterar Senha</h4>
            </div>
            <div class="card-body">
                <form action="/user/update-password" method="post">
                    <div class="mb-3">
                        <label for="current_password" class="form-label">Senha Atual</label>
                        <input type="password" class="form-control" id="current_password" name="current_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">Nova Senha</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirmar Nova Senha</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Alterar Senha</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}